@{
    string str = @"Отримати перелік всіх частин військового округу, зазначеної армії, дивізії, корпусу та їх
командирів.Отримати дані по офіцерському складу в цілому і по офіцерському складу зазначеного звання
всіх частин військового округу, окремої армії, дивізії, корпусу, військової частини.Отримати дані по рядовому і сержантському складу в цілому і з урахуванням зазначеного
звання всіх частин військового округу, окремої армії, дивізії, корпусу, військової частини.Отримати ланцюжок підпорядкованості знизу доверху для зазначеного військовослужбовця.Отримати перелік місць дислокації всіх частин військового округу, окремої армії, дивізії,
корпуси, військової частини.Отримати дані про наявність бойової техніки в цілому та з урахуванням зазначеної категорії або
виду в усіх частинах військового округу, окремої армії, дивізії, корпусі, військовій частині.Отримати перелік споруд зазначеної військової частини, перелік споруд, де дислоковано більше
одного підрозділу, де не дислоковано жодного підрозділу.Отримати перелік військових частин, в яких число одиниць зазначеного виду бойової техніки
більше 5 (немає зазначеної бойової техніки).Отримати дані про наявність озброєння в цілому і з урахуванням зазначеної категорії або виду
в усіх частинах військового округу, окремої армії, дивізії, корпусі, військовій частині.Отримати перелік військових спеціальностей, за якими в окрузі, окремої армії, дивізії, корпусі,
військової частини більше п'яти фахівців (немає фахівців).Отримати перелік військовослужбовців зазначеної спеціальності в окрузі, окремої армії, дивізії,
корпусі, військової частини, у зазначеному підрозділі деякої військової частини. Отримати перелік військових частин, в яких число одиниць зазначеного виду озброєння більше
10 (нема зазначеного озброєння).Отримати дані про армію, дивізії, корпусі, в які входить найбільше (найменше) військових
частин";
    var requests = str.Split('.');
}
<div style="display:flex;flex-wrap:wrap;align-items:center;align-content:center;justify-content:space-between">
@for (int i = 0; i < requests.Length; i++)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"> Запит @(i+1)</h5>
            <p class="card-text">@requests[i]</p>
            <a asp-controller="Home" asp-action="Request_@(i+1)"  class="btn btn-primary">Виконати Запит</a>
        </div>
    </div>
}
</div>
